@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    background-color: rgb(231, 14, 14);
    font-family: "Overpass";
}


.form-principal{
    border: 1px solid black; /* VISUALIZAO */
    border-radius: 20px;
    background-color: white; /* VISUALIZAO */
    padding: 25px;

}


/* COMO COLOCAR O TEXRO UM POUCO AFASTADO SEMELHANTE AO DESING??? */

.containe{
    display: flex;
    width: 300px;
    gap: 5px;
    flex-direction: column;
    
}


/* ESTILOS PARA OS BOTOES */
.buttons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

} 

.buttons button{
    background-color: blue;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons{
    margin-bottom: 10px;
}

#submit{
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border: none;
}

/* ESTILOS PARA AS FONTES E TEXTOS */