body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central {
    height: 300px;
    justify-content: center;
    display: flex;
    border: 10px solid black;
    border-radius: 10px;
    text-align: end;
}

p{
    text-align: center;
    margin-top: 20px;
}