body {
    font-family: monospace;
}

ul{
    font-family: helvética;
}

li {
    list-style-type: circle;
}

.list{
    list-style: square;
}

#msg{
    font-family: monospace;
}

.light-theme {
    color: black;
    background: #00FF00;
}