body {
    font-family: monospace;
}

ul{
    font-family: helvética;
}

li {
    list-style-type: circle;
}

.list{
    list-style: square;
}


.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}